{% extends "layout.html" %}

{% block body %}

<div>
  <h1 class="cover-heading">Welcome to</h1>
  <h1 class="cover-heading">Padel Hall of Fame</h1>
  <p>Padel is one of the fastest growing racket game in the world, the low start threshold and sociality are attractive. 
    Although the padel is largely unknown to the vast majority of the population, the number of padel enthusiast is growing fast.</p>
  <p>Padel Hall of Fame is a completely hobby-driven application that gives users access to play padel.</p>
</div>
<div>
  <a href="{{ url_for('auth_signup') }}">Sign up now and see you on courts.</a>
</div>

{% endblock %}

{% block footer %}

<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel" style="min-height: 200px;">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="d-block w-100">
        <h3>Padel Hall of Fame</h3>
        <p>Reading news is desirable to all user</p>
        <small>author SUPERUSER</small>
      </div>
    </div>
    {% for new in news %}
    <div class="carousel-item">
      <div class="d-block w-100">
        <h3>{{ new.title }}</h3>
        <p>{{ new.content }}</p>
        <small>author {{ new.author }}</small>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}