{% extends "layout.html" %}

{% block body %}

<h1>Leaderboard</h1>

<style>
  table, th, td {
    width: 300px;
  }
</style>

<table summary="Display users by games in descensing orger"> 
    <tr>
      <th>Username</th>
      <th>Games played</th>
    </tr>
    {% for user in list_games %}
    <tr>
      <td>{{ user.name }}</td>
      <td style="text-align:center">{{ user.games }}</td>
    </tr>
    {% endfor %}
</table>
<p></p>

<h2>Following users have zero games</h2>

{% if needs_games is defined %}
<table summary="Display users with zero games">
  <tr>
    <th>Username</th>
  </tr>
  <tr>
  {% for user in needs_games %}
  <tr>
    <td>{{ user.name }}</td>
  </tr>
  {% endfor %}
  </tr>
</table>
{% endif %}

{% endblock %}