{% extends "layout.html" %}

{% block body %}
<p>
  <h2>Leaderboard</h2>
</p>
<style>
  table, th, td {
    width: 300px;
  }
</style>

<table>
    <tr>
      <th>Username</th>
      <th>Games played</th>
    </tr>
    {% for user in list_games %}
    <tr>
      <td>{{ user.name }}</td>
      <td style="text-align:center">{{ user.games }}</td>
    </tr>
    {% endfor %}
</table>
<p></p>

{% if needs_games is defined %}
<h4>Following users have zero games</h4>
<table>
  <tr>
    <th></th>
  </tr>
  {% for user in needs_games %}
  <tr>
    <td>{{ user.name }}</td>
  </tr>
  {% endfor %}
</table>
{% endif %}

{% endblock %}