{% extends "layout.html" %}

{% block body %}
<body class="text-center">
<h1>Padel Hall of Fame</h1>
<h2>Admin page</h2>
<small>Use your rights carefully</small>
<div>
  <nav class="nav nav-masthead nav-expand-md">
    <a class="nav-link" href="{{ url_for('admin_index') }} ">Administrator main page</a>
    <a class="nav-link" href="{{ url_for('admin_user') }}">User control</a>
    <a class="nav-link" href="{{ url_for('users_index') }}">Result control</a>
    <a class="nav-link" href="{{ url_for('users_index') }}">Superuser only</a>e
  </nav>

  <table symmary="Users registered">
      <tr>
        <th>User name</th>
      </tr>
      {% for account in accounts %}
      <tr>
          <td>{{ account.name }}</td>
          <td>
            <form method="POST" action="{{ url_for('user_remove_user', user_id=account.id) }}">
                <input type="submit" value="Remove user"/>
             </form>
          </td>
      </tr>
      {% endfor %}
  </table>
</div>
</body>
{% if current_user.is_authenticated %}
{% if 'Super' in current_user.get_roles(current_user.id) %}
{% endif %}
{% endif %}
{% endblock %}