{% extends "layout.html" %}

{% block body %}
<style>
  table, th, td {
    width: 500px;
    margin-top: 25px;
    margin-bottom: 25px;
  }
</style>

<body class="text-center">
  <h1>Padel Hall of Fame Rankings</h1>
  <h2>All time games played leaderboard</h2>
  <table summary="Display user by points in descensing order">
    <tr>
      <th>User name</th>
      <th>Games played</th>
    </tr>
    {% for user in usersByGamesPlayed %}
    <tr>
      <td> {{ user.name }} </td>
      <td style="text-align:center">{{ user.games }} </td>
    </tr>
    {% endfor %}
  </table>

  <h2>All time games created leaderboard</h2>

  <table summary="Display users by games in descensing order"> 
    <tr>
      <th>Username</th>
      <th>Games played</th>
    </tr>
    {% for user in usersByGamesCreated %}
    <tr>
      <td>{{ user.name }}</td>
      <td style="text-align:center">{{ user.games }}</td>
    </tr>
    {% endfor %}
  </table>

  <h2>Following users have zero games</h2>

  {% if needs_games is defined %}
  <table summary="Display users with zero games">
    <tr>
      <th>Username</th>
      <th>Sign up date</th>
    </tr>
    <tr>
    {% for user in needs_games %}
    <tr>
      <td>{{ user.name }} </td>
      <td>{{ user.date_created }}</td>
    </tr>
    {% endfor %}
    </tr>
  </table>
  {% endif %}
</body>
{% endblock %}