{% extends "layout.html" %}

{% block body %}
<body class="text-center">
  <h1>Welcome sign up page</h1>
  <form method="POST" action="{{ url_for('auth_signup') }}">
    <h1 class="h3 mb-3 font-weight-normal">Sign up</h1>
    <div class="form-group">
      <label for="firstName" class="sr-only">First name</label>
      {% if not error %}
      <input id="firstName" name="firstName" type="text" placeholder="First name" required=""/>
      {% else %}
      <input id="firstName" name="firstName" type="text" placeholder="First name" required="" minlength="3" maxlength="10" autofocus=""/>
      <small id="firstNameHelp" class="form-text text-muted">First name must be 3 to 10 characters long</small>
      {% endif %}
    </div>
    <div class="form-group">
      <label for="lastName" class="sr-only">Last name</label>
      {% if not error %}
      <input id="lastName" name="lastName" type="text" placeholder="Last name" required="" autofocus=""/>
      {% else %}
      <input id="lastName" name="lastName" type="text" placeholder="Last name" required="" minlength="3" maxlength="15" autofocus=""/>
      <small id="lastNameHelp" class="form-text text-muted">Last name must be 3 to 15 characters long</small>
      {% endif %}
    </div>
    <div class="form-group">
      <label for="username" class="sr-only">Username</label>
      {% if not error %}
      <input id="username" name="username" type="text" placeholder="Username" required="" autofocus=""/>
      {% else %}
      <input id="username" name="username" type="text" placeholder="Username" required="" minlength="3" maxlength="15" autofocus=""/>
      <small id="usernameHelp" class="form-text text-muted">Username must be 3 to 15 characters long and unique</small>
      {% endif %}
    </div>
    <div class="form-group">
      <label for="password" class="sr-only">Password</label>
      {% if not error %}
      <input id="password" name="password" type="password" placeholder="Password" required=""/>
      {% else %}
      <input id="password" name="password" type="password" placeholder="Password" required="" minlength="4" maxlength="15"/>
      <small id="passwordHelp" class="form-text text-muted">Password must be 4 to 15 characters long</small>
      {% endif %}
    </div>
    <div class="form-group">
      <button class="btn" type="submit">Sign up</button>
    </div>
  </form>
</body>
{% endblock %}