{% extends "layout.html" %}

{% block body %}
<style>
  #divdefault {
    width: 600px;
  }

  table {
    margin-top: 50px;
  }
</style>

<div id="divdefault" class="text-center">
  <h1>{{ tournament.name }}</h1>
  <h2>Games</h2>
  <table>
    <tr>
      <th>Game</th>
    </tr>
    {% for row in tournamentGames %}
    <tr>
      <td> {{ row.tournamentname }}</td>
      <td>
        <form method="GET" action="{{ url_for('games_view_game', game_id=row.gameid) }}">
          <button class="btn btn-sm" type="submit">View game</button>
        </form>
      </td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}